<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Computacion</servlet-name>
        <servlet-class>paquete.Computacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Electrodomestico</servlet-name>
        <servlet-class>paquete.Electrodomestico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mueble</servlet-name>
        <servlet-class>paquete.Mueble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recibo</servlet-name>
        <servlet-class>paquete.Recibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calcula</servlet-name>
        <servlet-class>paquete.Calcula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Computacion</servlet-name>
        <url-pattern>/Computacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Electrodomestico</servlet-name>
        <url-pattern>/Electrodomestico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mueble</servlet-name>
        <url-pattern>/Mueble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recibo</servlet-name>
        <url-pattern>/Recibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calcula</servlet-name>
        <url-pattern>/Calcula</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
